.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.3rem;
  width: 3.3rem;

  border-radius: 90px;
  border: 0.12rem solid var(--inverse-color);

  padding: 0.6rem;
}

.button:hover {
  filter: brightness(85%);
}

.button:active {
  filter: brightness(70%);
}

.icon svg {
  height: 2.1rem;
  width: 2.1rem;

  fill: var(--inverse-color);
  transition: all 0.1s ease;
}
