.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: var(--first-text-color);
    font-size: 48px;
    font-weight: 600;

    margin-bottom: 50px;
  }
}

.application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-bottom: 30px;
}

.input {
  font-size: 18px;
  width: 320px;
}

.button {
  margin-top: 25px;
}

.text {
  font-size: 14px;
  font-weight: 400;

  margin-bottom: 5px;
}
