.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 10px;

  padding: 5px 15px;

  border-radius: 5px;
}

.black-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00000079;
  padding: 3px 15px;

  border-radius: 3px;
}

.name {
  color: var(--white-color);
}
