.tag-field {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;

  .tag {
    height: 26px;
  }

  .text-input {
    background-color: var(--background-color);
    outline: none;

    padding: 10px 20px;

    border: 1px solid var(--divider-color1);
    border-radius: 5px;

    font-size: 18px;

    &:focus {
      border: 1px solid var(--primary-color);
    }
  }

  .color-picker {
    user-select: none;
    cursor: pointer;

    .color-input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-left: auto;
  }

  .icon-wrapper {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);

    padding: 10px;

    border-radius: 5px;

    .icon {
      width: 40px;
      height: 40px;
    }

    &:hover {
      filter: brightness(85%);
    }

    &:active {
      filter: brightness(70%);
    }
  }
}
