.tag-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.tag-field {
  border-bottom: 0.06rem solid var(--divider-color2);
}

.add-tag-button {
  background-color: var(--background-color);
  border: 0.12rem solid var(--divider-color3);
  border-radius: 5px;
  padding: 0.6rem 1.2rem;

  font-size: 1.1rem;
  color: var(--text-color1);

  &:hover {
    border: 0.12rem solid var(--primary-color);
    color: var(--primary-color);
  }
}
