.project-card {
  background-color: var(--block-color);
  height: 330px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  border-radius: 15px;

  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.1);

  transition: transform 0s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.11);
}

.image {
  width: 300px;
  height: 120px;

  border-radius: 15px;
}

.empty {
  background-color: var(--empty-color);
}

.body {
  padding: 15px;

  .tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  .title {
    font-size: 30px;
    font-weight: 400;

    margin-bottom: 5px;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
  }
}
