.background {
  background-color: var(--sidepanel-color);

  width: 6rem;
  height: 100vh;
  z-index: 2;

  box-shadow: var(--sidepanel-box-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  top: 0;
}

.hide {
  display: none;
}
