.input-wrapper {
  position: relative;
}

.input {
  background: none;

  border: none;
  border-bottom: 2px solid var(--divider-color1);
}

.input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
  -webkit-text-fill-color: #000 !important;
}

.input-wrapper:focus-within .input {
  outline: none;

  border-bottom: 2px solid var(--primary-color);
}

.error {
  border-bottom: 2px solid var(--error-color);
}

.error-message {
  position: absolute;
  margin-top: 5px;
  font-size: 14px;
  color: var(--error-color);
}

.show-password {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;

  background: none;
  border: none;

  cursor: pointer;

  svg {
    height: 20px;
    width: 20px;
  }
}

.alive {
  display: block;
}
