.description-field {
  width: var(--settings-field-width);
  text-wrap: nowrap;
  padding: 0.3rem 0.6rem;

  border: 0.15rem solid var(--primary-color);
  border-radius: 5px;

  background-color: var(--background-color);

  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color1);

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    filter: brightness(75%);
  }
}
