.logout-field {
  padding: 10px 25px;
  margin: auto;

  background-color: var(--background-color);

  border: 2px solid var(--error-color);
  border-radius: 5px;

  color: var(--error-color);
  font-size: 18px;
  font-weight: 600;

  outline: none;

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    filter: brightness(75%);
  }
}
