.logout-field {
  padding: 0.6rem 1.5rem;
  margin: auto;

  background-color: var(--background-color);

  border: 0.12rem solid var(--error-color);
  border-radius: 5px;

  color: var(--error-color);
  font-size: 1.08rem;
  font-weight: 600;

  outline: none;

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    filter: brightness(75%);
  }
}
