.tags {
  display: flex;
  gap: 0.6rem;
}

.tag-blockContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.add-block {
  margin: auto 0rem auto 0.6rem;
}

.measure-container {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 0;
  overflow: hidden;

  .fake-tag {
    display: inline-block;
    margin-right: 0.6rem;
  }

  .fake-add-block {
    display: inline-block;
  }
}

.popup-content {
  max-width: 14.4rem;
  max-height: 18rem;
  overflow-y: auto;
  margin-top: 0.6rem;
  padding: 1.2rem 0.9rem;

  background-color: var(--white-color);

  border: 0.06rem solid var(--divider-color1);
  border-radius: 5px;
}

.popup-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
