.mini-profile {
  display: grid;
  grid-template-areas:
    "user-summary divider description"
    "contacts divider description"
    "social divider description";
  grid-template-columns: 1fr 0.06rem 1fr;
  // grid-template-rows: 4.8rem 3.9rem 2.4rem;
  grid-template-rows: auto auto auto;
  gap: 0.6rem 1.5rem;

  background-color: var(--block-color);

  padding: 1.2rem;

  border: 0.06rem solid var(--divider-color3);
  border-radius: 15px;
}

.contacts {
  grid-area: contacts;
}

.social {
  grid-area: social;

  display: flex;
  gap: 0.6rem;
}

.divider {
  grid-area: divider;

  background-color: var(--divider-color2);
}

.description {
  grid-area: description;

  font-size: 1rem;
  font-weight: 400;
}
