$transition-duration: 0.5s;

.top-panel {
  position: relative;

  display: flex;
  gap: 3rem;

  width: 100%;
  padding-bottom: 0.9rem;
  margin-bottom: 2.4rem;

  border-bottom: 0.06rem solid var(--divider-color1);

  overflow: hidden;
}

.nav-indicator {
  position: absolute;
  z-index: 0;
  top: 0;

  height: calc(100% - 0.9rem);

  background-color: var(--primary-light-color);

  border-radius: 20px;
}

.animating {
  animation: bounce $transition-duration ease-in-out;

  transition: left $transition-duration ease-in-out,
    width $transition-duration ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.4);
  }

  100% {
    transform: scaleX(1);
  }
}

.section {
  cursor: pointer;
  user-select: none;

  position: relative;
  z-index: 1;

  padding: 0.3rem 1.2rem;

  background: transparent;

  border: none;

  font-size: 1.44rem;

  transition: color 0.3s;

  &:hover {
    color: var(--primary-dark-color);
  }
}

.active {
  color: var(--primary-dark-color);
}
