.left-part {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  height: 100%;
}

.social {
  margin-top: 1.8rem;
}

.social-none {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.mini-profile {
  margin-top: auto;
}

.contacts,
.mini-profile,
.user-summary {
  max-width: 35rem;
}
