.popup {
  min-width: 12rem;
  padding: 1rem;
  background: var(--background-color);
  border: 0.06rem solid var(--divider-color1);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

.trigger {
  display: inline-block;
  cursor: pointer;
}

.text {
  margin-bottom: 0.72rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  button {
    padding: 0.36rem 0.84rem;
    border: 0.06rem solid var(--divider-color1);
    border-radius: 4px;
    cursor: pointer;
    background: var(--background-color);

    &:hover {
      filter: brightness(85%);
    }
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

.fadeOut {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-0.3rem);
  }
}

.hidden {
  visibility: hidden;
}
