.select-wrapper {
  position: relative;
}

.select {
  position: relative;

  cursor: pointer;

  border: 0.3rem solid var(--primary-light-color);
  border-radius: 5px;

  padding: 0.6rem 0.9rem;

  font-size: 1.08rem;

  svg {
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;

    fill: var(--arrow-color);
  }
}

.select-open {
  svg {
    transform: rotate(180deg);
  }
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;

  width: 100%;
  padding: 0.9rem 1.8rem;

  border-radius: 5px;

  font-size: 1.08rem;

  background-color: var(--primary-light-color);
}

.option {
  cursor: pointer;

  padding: 0.6rem;
  width: 100%;
  text-align: center;

  background-color: var(--primary-light-color);
}

.option:hover {
  background-color: var(--primary-light-hover-color);
}
