.text-input {
  background-color: var(--background-color);
  outline: none;

  padding: 0.6rem 1.2rem;

  border: 0.06rem solid var(--divider-color1);
  border-radius: 5px;

  font-size: 1.08rem;

  &:focus {
    border: 0.06rem solid var(--primary-color);
  }
}

.color-picker {
  user-select: none;
  cursor: pointer;

  .color-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
