.dropdown {
  position: relative;
  display: inline-block;
}

.trigger {
  cursor: pointer;

  padding: 0.6rem 1rem;

  background: var(--background-color);

  border-radius: 8px;
  border: 0.12rem solid var(--divider-color3);

  font-size: 1.08rem;
  font-weight: 300;

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    filter: brightness(70%);
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;

  list-style: none;
  padding: 0rem;

  background: var(--background-color);

  border-radius: 8px;
  border: 0.12rem solid var(--divider-color3);

  overflow: hidden;
  box-shadow: 0.12rem 0.06rem 0.12rem 0.06rem rgba(0, 0, 0, 0.05);

  z-index: 10;
}

.item {
  cursor: pointer;

  width: 100%;
  padding: 0.6rem 1rem;

  text-align: left;
  background: var(--background-color);

  border: none;

  color: var(--inverse-color);
  font-size: 1.08rem;
  font-weight: 300;

  &:hover {
    filter: brightness(85%);
  }
}

.active {
  font-weight: bold;
}
