:root {
  --white-color: #fff;
  --grey-color: #757575;
  --black-color: #000;

  --full-color: #fff;
  --full-inverse-color: #000;

  --background-color: #ededed;
  --block-color: #fff;
  --empty-color: #d9d9d9;

  --text-color1: #000;
  --text-color2: rgba(0, 0, 0, 70%);
  --text-color3: rgba(0, 0, 0, 40%);
  --reverse-text-color: #fff;

  --primary-color: #4a72ff;
  --primary-light-color: #a6bfff;
  --primary-light-hover-color: #8599cc;
  --primary-dark-color: #001aff;
  --error-color: #ff4a4a;

  --divider-color1: rgba(0, 0, 0, 60%);
  --divider-color2: rgba(0, 0, 0, 40%);
  --divider-color3: rgba(0, 0, 0, 20%);

  --sidepanel-color: #fff;
  --sidepanel-hover: #0000001a;
  --sidepanel-active: #00000031;
  --sidepanel-box-shadow: 0.18rem 0rem 2.4rem 0rem rgba(0, 0, 0, 0.16);
  --sidepanel-divider: #cecece;
  --sidepanel-gap: 0.9rem;

  --arrow-color: #000000;

  --icon-color: #000000b3;
}

html[data-theme="dark"] {
  --full-color: #000;
  --full-inverse-color: #fff;
  --background-color: #262427;
}

html {
  font-size: clamp(12px, 1vw, 1.08rem);
}

* {
  box-sizing: border-box;
  color: var(--text-color1);

  transition: filter 0.3s ease, background-color 0.3s ease,
    color 0.1s ease, border 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

button {
  cursor: pointer;
  user-select: none;
}

body {
  background-color: var(--background-color);

  margin: 0;
  line-height: 1;
}
