:root {
  --white-color: #fff;
  --black-color: #000;

  --full-color: #fff;
  --full-inverse-color: #000;

  --background-color: #ededed;
  --block-color: #fff;

  --first-text-color: #000;
  --second-text-color: rgba(0, 0, 0, 70%);
  --third-text-color: rgba(0, 0, 0, 40%);
  --reverse-text-color: #fff;

  --primary-color: #4a72ff;
  --error-color: #ff4a4a;

  --divider-color1: rgba(0, 0, 0, 60%);
  --divider-color2: rgba(0, 0, 0, 40%);
  --divider-color3: rgba(0, 0, 0, 20%);

  --sidepanel-color: #fff;
  --sidepanel-hover: #0000001a;
  --sidepanel-active: #00000031;
  --sidepanel-box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.16);
  --sidepanel-divider: #cecece;
  --sidepanel-gap: 15px;
}

html[data-theme="dark"] {
  --full-color: #000;
  --full-inverse-color: #fff;
  --background-color: #262427;
}

* {
  box-sizing: border-box;
  color: var(--first-text-color);

  transition: filter 0.3s ease, background-color 0.3s ease,
    color 0.1s ease, border 0.3s ease;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--background-color);

  margin: 0;
  line-height: 1;
}
