.tag-field {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  padding: 0.6rem;

  .tag-constructor {
    display: flex;
    align-items: center;
    gap: 0.9rem;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    margin-left: auto;
  }

  .icon-wrapper {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);

    padding: 0.6rem;

    border-radius: 5px;

    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }

    &:hover {
      filter: brightness(85%);
    }

    &:active {
      filter: brightness(70%);
    }
  }
}
