.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16rem;

  border: 0.36rem solid var(--grey-color);
  border-radius: 15px;

  background-color: var(--background-color);

  .icon {
    width: 5.4rem;
    height: 5.4rem;
  }

  &:hover {
    filter: brightness(85%);
    scale: 1.03;
  }

  &:active {
    filter: brightness(70%);
    scale: 1;
  }

  transition: all 0.3s ease;
}
