.button {
  display: flex;
  align-items: center;
  justify-items: center;

  padding: 70px 55px;

  border: 6px solid var(--grey-color);
  border-radius: 15px;

  background-color: var(--background-color);

  &:hover {
    filter: brightness(85%);
    scale: 1.03;
  }

  &:active {
    filter: brightness(70%);
    scale: 1;
  }

  transition: all 0.3s ease;
}
