.input {
  display: none;
}

.label {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 9.6rem;
  width: 9.6rem;

  background-color: var(--background-color);

  border-radius: 90%;
  border: 0.3rem solid var(--border-color);
  transition: filter 0.3s ease, background-color 0.3s ease,
    border 0.3s ease, stroke 0.3s ease;
}

.label:hover {
  filter: brightness(85%);
}

.active {
  padding: 0rem;
}

.picture {
  border-radius: 90%;
}

.label svg {
  height: 4rem;
  width: 4rem;

  stroke: var(--border-color2);
  stroke-width: 1.4rem;
  stroke-linecap: round;
}
