.right-part {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  height: 100%;
}

.description {
  height: 100%;

  .body {
    font-size: 1.4rem;
  }
}

.projects {
  margin-top: auto;
}

@media screen and (max-width: 18000.6rem) {
  .right-part {
    gap: 3rem;
  }
}
